---
import logoIcon from "@assets/icons/logo-burgundy.svg";

const menuItems = [
  {
    title: "Our Story",
    path: "/our-story",
  },
  {
    title: "Schedule",
    path: "/schedule",
  },
  {
    title: "Registry",
    path: "https://www.myregistry.com/wedding-registry/marissa-caputo-and-adrian-haynes-austin-tx/3775564/giftlist",
  },
  {
    title: "Where to Stay",
    path: "/where-to-stay",
  },
  {
    title: "Things to Do",
    path: "/things-to-do",
  },
  {
    title: "FAQs",
    path: "/faqs",
  },
  {
    title: "RSVP",
    path: "/rsvp",
  },
];
---

<style>
  span {
    @apply transition-all duration-300;
  }
  button.active span:nth-child(1) {
    @apply rotate-45 translate-y-3 bg-white;
  }
  button.active span:nth-child(2) {
    @apply opacity-0;
  }
  button.active span:nth-child(3) {
    @apply -rotate-45 -translate-y-3 w-8 bg-white;
  }
</style>
<nav class="p-4">
  <div
    class="container font-serif mx-auto flex lg:gap-3 text-2xl lg:text-sm items-center xl:text-lg"
  >
    <div class="basis-1/5">
      <a href="/">
        <img src={logoIcon} alt="" />
      </a>
    </div>
    <div class="ml-auto z-10 lg:hidden">
      <button
        ><div class="space-y-2">
          <span class="block w-8 h-1 bg-gray-600 rounded"></span>
          <span class="block w-8 h-1 bg-gray-600 rounded"></span>
          <span class="block w-5 h-1 bg-gray-600 rounded"></span>
        </div>
      </button>
    </div>
    <div
      class="menu absolute hidden bg-burgundy w-full h-full min-h-[500px] left-0 top-0 lg:block lg:relative lg:bg-transparent lg:min-h-0"
    >
      <ul
        class="container lg:px-0 h-full flex flex-col justify-evenly text-center overflow-auto min-h-100 lg:py-0 lg:bg-transparent lg:items-center lg:flex-row lg:relative lg:flex lg:ml-auto lg:text-left px-6"
      >
        {
          // TODO: Add active class to current page
          // TODO: Add hover effect
          menuItems.map((item, index) =>
            menuItems.length - 1 === index ? (
              <li>
                <a
                  href={item.path}
                  class="flex px-10 py-3 text-white bg-redwood hover:text-slate-200 lg:hover:text-gray-500"
                >
                  {item.title}
                </a>
              </li>
            ) : (
              <li>
                <a
                  href={item.path}
                  class="flex lg:px-3 py-2 text-white lg:text-gray-600 hover:text-slate-200 lg:hover:text-gray-500"
                >
                  {item.title}
                </a>
              </li>
            )
          )
        }
      </ul>
    </div>
  </div>
</nav>

<script>
  const menuButton: HTMLButtonElement = document.querySelector(
    "button"
  ) as HTMLButtonElement;
  const menu: HTMLElement = document.querySelector(".menu") as HTMLElement;

  menuButton.addEventListener("click", () => {
    menuButton.classList.toggle("active");
    menu.classList.toggle("hidden");
    document.body.classList.toggle("overflow-hidden");
  });
</script>
