---
import { Image } from "@astrojs/image/components";
const { title, src, alt, caption, extension, year, description } = Astro.props;
---

<div
  class="swiper-slide flex flex-wrap items-center justify-center max-w-sm mx-auto"
>
  <Image src={import(`../assets/images/${src}.${extension}`)} alt={alt} />
  <div class="swiper-lazy-preloader"></div>
  <div class="w-full py-3">
    {
      year && (
        <>
          <h3 class="text-6xl font-display font-bold mb-3">{year}</h3>
        </>
      )
    }
    <p class="text-xl">{caption}</p>
  </div>
</div>
