---
import { Image } from "@astrojs/image/components";
const { title, src, alt, caption, extension, year, description, id } =
  Astro.props;

const isFirstEl = `${id === 1 ? "pb-10" : "py-10"}`;
const isLazyLoaded: any = `${id === 1 ? "eager" : "lazy"}`;
---

<div
  id={`timeline-${id}`}
  class={`${isFirstEl} timeline-photo grid-cols-8 gap-8 items-center transition-transform ease-in-out duration-1000 lg:grid lg:py-20 lg:h-screen lg:min-h-[52rem]`}
>
  <div class="col-span-3 w-full py-6">
    {
      year && (
        <>
          <h3 class="text-6xl font-display font-bold mb-3">{year}</h3>
        </>
      )
    }
    <p class="text-xl">{caption}</p>
  </div>
  <Image
    class="col-span-5 bg-gray-200"
    src={import(`../assets/images/${src}.${extension}`)}
    alt={alt}
    loading={isLazyLoaded}
  />
</div>

<script>
  import { isMobile } from "@lib/helpers";

  // Get all images
  const images = document.querySelectorAll("img");

  // only run if not mobile
  if (!isMobile()) {
    images.forEach((image) => {
      // Add animate-pulse class to all images
      image.classList.add("animate-pulse");
      // Remove animate-pulse class when image is loaded
      image.addEventListener("load", () => {
        image.classList.remove("animate-pulse");
      });
    });
  }
</script>
